@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    /* CSS HEX */
    --old-blue: hsl(214, 100%, 15%);
    --also-blue: hsla(214, 100%, 15%, 0.696);
    --busy-red: hsl(348, 100%, 56%);
    --cerulean: #4281a4ff;
    --verdigris: rgb(72, 169, 166);
    --verdigris-opaque: rgba(72, 169, 166, 0.65);
    --timberwolf: #e4dfdaff;
    --ecru: #d4b483ff;
    --indian-red: #c1666bff;
    --steel-grey: #72797e;
    --steel-grey-glass: rgba(114, 121, 126, 0.63);
    --steel-grey-opaque: rgba(114, 121, 126, 0.172);
}

* {
    outline: 1px solid red;
    font-family: "Montserrat", sans-serif;
}

body {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    width: 100vmax;
    font-size: 1rem;
    color: whitesmoke;
    background: var(--old-blue);
}

.title {
    width: 80vw;
    font-size: calc(1.55rem + 0.9vw);
    font-weight: bolder;
    text-align: left;
    padding: calc(0.25rem + 0.9vw);
}

.wrapper {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    gap: 0.1rem;
    width: 80vw;
    height: 80vh;
    border-radius: 15px;
    background: transparent;
}

.wrapper .wrapper-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 0;
    min-height: 0;
    overflow: clip;
    height: 90%;
    width: 20%;
    padding: 0.5rem 1.1rem;
    border-top-left-radius: 0.90rem;
    border-bottom-left-radius: 0.90rem;
    border: 0.1rem solid var(--busy-red);
    background-color: var(--old-blue);
    box-shadow: 0.75rem 0 0.85rem 0 rgba(41, 41, 57, 0.7);
}

.wrapper .wrapper-left .title {
    width: calc(95% + 0.9vw);
    height: calc(35% + 0.9vh);
    padding: 0.25rem;
    background-color: transparent;
    font-size: calc(0.25rem + 0.75vw);
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    font-weight: bolder;
    color: whitesmoke;
    border-width: 0.15rem;
    border-style: solid;
    border-radius: 0.05rem;
    border-bottom-color: var(--verdigris);
    border-left-color: transparent;
    border-top-color: transparent;
    border-right-color: transparent;
}

.wrapper .wrapper-left ul {
    display: flex;
    flex-direction: column;
    align-items: space-evenly;
    width: calc(95% + 0.9vw);
    padding: 0.55rem;
    overflow-y: scroll;
    -ms-overflow-style: none;  /* Hide scrollbar for IE and Edge */
    scrollbar-width: none;  /* Hide scrollbar for Firefox */
    list-style-type: none;
    padding-left: 0;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.wrapper .wrapper-left ul::-webkit-scrollbar{
    display: none;
}

.wrapper .wrapper-left ul li {
    position: relative;
    width: 100%;
    border-radius: 5px;
    padding: 0.25rem;
    letter-spacing: 0.1rem;
    transition: all 400ms ease;
    cursor: pointer;
}

.wrapper .wrapper-left ul li p{
    color: whitesmoke;
    font-weight: bold;
    font-size: calc(0.05rem + 0.9vmax);
    text-transform: uppercase;
}

.wrapper .wrapper-left ul li:before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0.1%;
    height: 100%;
    background: var(--steel-grey-opaque);
    background: linear-gradient(
        125deg,
        transparent 0%,
        var(--steel-grey-opaque) 35%,
        var(--verdigris-opaque) 100%
    );
    border-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    transition: all 400ms ease;
}

.wrapper .wrapper-left ul li.active {
    width: 100%;
}

.wrapper .wrapper-left ul li.active p {
    font-weight: bold;
    color: var(--busy-red);
}

.wrapper .wrapper-left ul li.active:before {
    width: 100%;
    transition: all 200ms ease;
}

.wrapper .wrapper-left ul li:last-child {
    margin-bottom: 0;
}

.wrapper .wrapper-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 90%;
    width: 80%;
    padding: 0.5rem 1.1rem;
    background-color: transparent;
}

.wrapper .wrapper-right .title {
    width: calc(95% + 0.9vw);
    height: calc(35% + 0.9vh);
    background-color: transparent;
    font-size: calc(0.25rem + 0.9vmax);
    padding: 0.65rem;
    text-align: center;
    text-transform: uppercase;
    font-weight: bolder;
    color: whitesmoke;
    border-width: 0.15rem;
    border-style: solid;
    border-radius: 1px;
    border-bottom-color: var(--verdigris);
    border-left-color: transparent;
    border-top-color: transparent;
    border-right-color: transparent;
}

.wrapper .wrapper-right .table-container {
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
}

table {
    background: transparent;
    height: 90%;
}

thead, tbody tr {
    display: table;
    table-layout: fixed;
}

tbody {
    display: block;
    overflow-y: auto;
    table-layout: fixed;
    max-height: 58vh;
    -ms-overflow-style: none;  /* Hide scrollbar for IE and Edge */
    scrollbar-width: none;  /* Hide scrollbar for Firefox */
}

th {
    padding: 0.25rem;
    font-size: calc(0.25rem + 0.9vmax);
    font-weight: bold;
    vertical-align: bottom;
}

th:nth-child(1) {
    width: 16%;
    text-align: left;
}

th:nth-child(2) {
    width: 84%;
    text-align: center;
}


td {
    border: 0.15rem solid;
    border-top-color: var(--timberwolf);
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
    font-size: calc(0.15rem + 0.9vmax);
}

td:nth-child(1) {
    width: 15%;
    vertical-align: center;
    text-align: center;
}

td:nth-child(2) {
    vertical-align: center;
}

td a {
    font-weight: bold;
    color: var(--busy-red);
    text-decoration: none;
}

td p {
    line-height: 0.95rem;
    margin: 0.25rem 0 0.2rem 0;
}

td p:nth-last-child(1) {
    color: var(--ecru);
}