:root{
    /** CSS DARK THEME PRIMARY COLORS */
    --color-primary-100: #03a8f4a2;
    --color-primary-200: #4ab2f5;
    --color-primary-300: #6abcf7;
    --color-primary-300-transparent: #6abcf756;
    --color-primary-400: #84c5f8;
    --color-primary-500: #9bcefa;
    --color-primary-600: #b1d8fb;
    /** CSS DARK THEME SURFACE COLORS */
    --color-surface-100: #121212;
    --color-surface-200: #282828;
    --color-surface-300: #3f3f3f;
    --color-surface-400: #575757;
    --color-surface-500: #717171;
    --color-surface-600: #8b8b8b;
    /** CSS DARK THEME MIXED SURFACE COLORS */
    --color-surface-mixed-100: #1e2c38;
    --color-surface-mixed-200: #34404b;
    --color-surface-mixed-300: #4a5560;
    --color-surface-mixed-400: #626b75;
    --color-surface-mixed-500: #7a828a;
    --color-surface-mixed-600: #939aa0;
    /** EXAMPLES */
}

* {
    /* border: 0.1rem solid red !important; */
    font-family: "Gabarito", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    color: whitesmoke;
}

html {
    background-color: var(--color-surface-100);
}

.container {
    padding: 1.5rem;
    height: 85dvh;
    margin-inline: auto;
    background-color: transparent;
}

.wrapper {
    padding: 0.4rem;
    border-radius: 0.35rem;
    text-align: left;
}

.wrapper.title {
    padding: 0.75rem;
    font-weight: 700;
    font-size: 2.5rem;
    text-transform: uppercase;
}

.wrapper.body {
    display: grid;
    gap: 0.5rem;
    height: 85%;
    font-size: 1.15rem;
}

@media (width < 768px) {
    .wrapper.title {
        text-align: justify;
    }
    .panel-title {
        text-align: center;
    }
    .panel-body.ubicacion {
        text-align: center;
    }
}

@media (width >= 768px) {
    .wrapper.body {
        grid-template-columns: 0.5fr 2fr;
    }
}

.panel {
    border-radius: 0.35rem;
    padding: 0.25rem;
    min-height: 100dvh;
}

.panel:first-child {
    overflow-y: hidden;
}

.panel-title {
    border-radius: 0.35rem;
    padding: 0.25rem;
    font-weight: 500;
    font-size: 1.50rem;
    text-transform: uppercase;
    margin-bottom: 0.25rem;
}

.panel-title-ubicacion {
    text-align: center;
    background-color: var(--color-primary-300-transparent);
}

.panel-body {
    border: 0.1rem solid var(--color-surface-300);
    border-radius: 0.35rem;
    padding: 0.35rem;
    height: 86%;
    font-weight: normal;
    font-size: 1rem;
}

ul {
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    list-style-type: none;
    padding-left: 0;
    margin: 0;
    color: var(--color-surface-600);
}

/* width */
ul::-webkit-scrollbar {
    width: 0.25rem;
}
  
/* Track */
ul::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px var(--color-surface-400); 
    border-radius: 0.75rem;
}

/* Handle */
ul::-webkit-scrollbar-thumb {
    background: var(--color-primary-300-transparent); 
    border-radius: 0.75rem;
}

/* Handle on hover */
ul::-webkit-scrollbar-thumb:hover {
    background: var(--color-surface-400); 
}

li {
    position: relative;
    padding: 0.15rem;
    letter-spacing: 0.15rem;
    width: 100%;
    transition: all 400ms ease;
    cursor: pointer;
}

li::before{
    content:"";
    position: absolute;
    top: 0;
    left: 0;
    width: 0.1%;
    height: 100%;
    background: var(--color-surface-400);
    background: linear-gradient(
        125deg,
        transparent 0%,
        var(--color-primary-300-transparent) 45%,
        var(--color-primary-300-transparent) 100%
    );
    /* border-radius: 10px; */
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    transition: all 700ms ease;
}

li.active {
    width: 100%;
}

li.active::before {
    width: 90%;
    transition: all 400ms ease;
}

li.active p {
    position: inherit;
    font-weight: bold;
    color: whitesmoke;
    text-transform: uppercase;
}

p {
    color: var(--color-surface-600);
}

table {
    display: table;
}

thead, tbody, tr {
    display: block;
}

tbody {
    /* height: 80dvh; */
    overflow-y: scroll;
}

/* width */
tbody::-webkit-scrollbar {
    width: 0.25rem;
}
  
/* Track */
tbody::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px var(--color-surface-400); 
    border-radius: 0.75rem;
}

/* Handle */
tbody::-webkit-scrollbar-thumb {
    background: var(--color-primary-300-transparent); 
    border-radius: 0.75rem;
}

/* Handle on hover */
tbody::-webkit-scrollbar-thumb:hover {
    background: var(--color-surface-400); 
}

th {
    padding: 0.15rem;
    font-weight: bold;
    vertical-align: bottom;
}
/* 
th:nth-child(1) {
    width: 16%;
    text-align: left;
}

th:nth-child(2) {
    width: 84%;
    text-align: center;
}


td {
    border: 0.15rem solid;
    border-top-color: var(--timberwolf);
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
    font-size: calc(0.15rem + 0.9vmax);
}

td:nth-child(1) {
    width: 15%;
    vertical-align: center;
    text-align: center;
}

td:nth-child(2) {
    vertical-align: center;
}

td a {
    font-weight: bold;
    color: var(--color-primary-100);
    text-decoration: none;
}

td p {
    line-height: 0.95rem;
    margin: 0.25rem 0 0.2rem 0;
}

td p:nth-last-child(1) {
    color: var(--color-surface-600);
} */