<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/home.css') }}">
    <title>GdCPR</title>
</head>
<body>
    <div class="wrapper">
        <div class="wrapper-left">
            <div class="title">
                Filtrar por Municipio
            </div>
            <ul>
                <li data-li="all" class="active">
                    <p>
                        Todos
                    </p>
                </li>
                {% for loc in location %}
                <li data-li="{{loc.NormalizedName}}"> 
                    <p>
                        {{loc.Name}}
                    </p>
                </li>
                {% endfor %}
            </ul>
        </div>
        <div class="wrapper-right">
            <div class="title">
                Artículos
            </div>
            <div class="table-container">
                container
                <div class="table-head">
                    head
                    <!-- <thead>
                        <th scope="col">
                            Titular
                        </th>
                        <th scope="col">
                            Fecha/Hora
                        </th>
                    </thead> -->
                </div>
                <!-- <div class="table-body">
                    {% for article in articles %}
                    <tr>
                        <td>
                            <p class="article-headline">
                                <a href="{{article.URL}}">
                                    {{article.headline}}
                                </a>
                            </p>
                            <p class="article-author">
                                {{article.Author}}
                            </p>
                            <p class="article-subheadline">
                                {{article.Subheadline}}
                            </p>
                        </td>
                        <td>
                            <p class="article-datetime">
                                {{article.DateTime}}
                            </p>
                        </td>
                    </tr>
                    {% endfor %}
                </div> -->
            </div>
        </div>
    </div>
    <script src="{{ url_for('static', filename='styles/scripts.js') }}"></script>
</body>
</html>