/*#region html, body */
 :root {
    --color-primary-a0: #ffffff;
    --color-primary-a10: #d4e9fd;
    --color-primary-a20: #a6d3fa;
    --color-primary-a30: #71bef7;
    --color-primary-a50: #03a9f4;
    --color-primary-a60: #1e7cb1;
    --color-primary-a70: #1f5172;
    --color-primary-a80: #172b39;
    --color-primary-a90: #000000;

    --color-primary-b0: #f2e98b;
    --color-primary-b10: #f1d177;
    --color-primary-b20: #f29483;
    --color-primary-b30: #ea48df;
    --color-primary-b40: #e317a6;


    --map-region-fill: #C3C3C3;
    --map-stroke-color: #FFFFFF;
    --map-stroke-width: 1.1249;

    /* Blox Model */
    --spacing-body: 0.5rem;
    --spacing-common: calc(var(--spacing-body)/3);

    /* Font */
    --font-size-1: 1rem;
    --font-size-2: calc(1.05*var(--font-size-1));
    --font-size-2: calc(1.10*var(--font-size-1));
    --font-size-3: calc(1.15*var(--font-size-1));
    --font-size-4: calc(1.20*var(--font-size-1));
    --font-size-5: calc(1.25*var(--font-size-1));
    --font-size-6: calc(1.30*var(--font-size-1));
    --font-size-7: calc(1.35*var(--font-size-1));
    --font-size-8: calc(1.40*var(--font-size-1));
    --font-size-9: calc(1.45*var(--font-size-1));
    --font-size-10: calc(1.50*var(--font-size-1));
}

* {
    --border-color: red;
    box-sizing: border-box;
    /* border: 0.0001rem solid var(--border-color) !important; */
}

body {
    margin: 0;
    width: 100%;
    padding: var(--spacing-body);
    color: var(--color-primary-a0);
    background-color: var(--color-primary-a90);
}
/*#endregion root, body  */

.menu {
    height: 100%;
    width: 0;
    position: fixed;
    display: block;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: var(--color-primary-a90);
    overflow-x: hidden;
    transition: 500ms;
    padding-top: calc(5*var(--spacing-body));
}

.menu a {
    display: block;
    padding: calc(var(--font-size-1)/4);
    margin: 0 calc(15*var(--spacing-body)) 0;
    text-decoration: none;
    font-size: var(--font-size-1);
    text-align: center;
    color: var(--color-primary-a0);
    transition: 300ms;
}

.menu a:hover{
    border-radius: calc(25*var(--spacing-body));
    background-color: var(--color-primary-b0);
    color: var(--color-primary-a90);
    font-weight: 700;
}

.menu .menu-close-btn {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    margin: calc(0.5*var(--spacing-body));
}

.header {
    display: grid;
    grid-template-columns: 1fr 40fr;
}

.header-menu-open-btn {
    display: block;
    position: relative;
    padding: calc(var(--font-size-1)/4);
    transform: translate(-35%, -30%);
    margin: calc(0.5*var(--spacing-body));
}

.header-menu-open-btn:hover {
    border-radius: calc(25*var(--spacing-body));
    background-color: var(--color-primary-b0);
    color: var(--color-primary-a90);
}

.header-menu-open-btn a.icon {
    color: var(--color-primary-a0);
    cursor: pointer;
}


.header-menu-open-btn a.icon:hover {
    color: var(--color-primary-a90);
}

.header-title {
    position: relative;
    text-align: end;
}

.header-title > a.lespur {
    padding: calc(0.5*var(--spacing-common));
    color: var(--color-primary-a90);
    background-color: var(--color-primary-a30);
    border-top-left-radius: calc(2*var(--spacing-common));
    border-top-right-radius: calc(2*var(--spacing-common));
    border-bottom-left-radius: calc(2*var(--spacing-common));
    font-size: var(--font-size-3);
    font-weight: 500;
    text-transform: uppercase;
    text-decoration: none;
}

.header-title > a.lespur:hover {
    background-color: var(--color-primary-b0);
    font-weight: 700;
}

.header-title::after {
    content: "";
    width: calc(5*var(--font-size-10));
    height: calc(var(--font-size-1)/8);
    background: var(--color-primary-a30);
    position: absolute;
    transform: translate(-100%, 1025%);
}

.content {
    margin-top: calc(2*var(--spacing-body));
}

.container-map-navigation {
    display: flex;
    gap: calc(2*var(--spacing-common));
    align-items: center;
    justify-content: left;
    font-size: calc(1*var(--font-size-5));
    padding: var(--spacing-common);
    text-transform: uppercase;;
    font-weight: 700;
}

div.map-navigation-buttonn {
    padding: calc(1.1*var(--spacing-common));
    border-radius: var(--spacing-body);
    cursor: pointer;
}

div.map-navigation-buttonn:hover  {
    padding: calc(1.1*var(--spacing-common));
    background-color: var(--color-primary-b0);
    border-radius: var(--spacing-body);
    cursor: pointer;
}

a.navigation-buttonn {
    color: var(--color-primary-a0);
    text-decoration: none;
}

a.navigation-buttonn:hover {
    color: var(--color-primary-a90);
}

.container-map {
    margin-top: calc(2*var(--spacing-body));
}

svg polygon.municipio,
svg path.municipio {
    fill: var(--color-primary-a30);
    stroke: var(--color-primary-a90);
    stroke-width: calc(0.05*var(--font-size-1));
}

svg polygon.municipio:hover,
svg path.municipio:hover {
    fill: var(--color-primary-b0);
    stroke: var(--color-primary-a30);
    stroke-width: calc(0.05*var(--font-size-1));
    transition: fill 400ms;
}

.container-statistics {
    margin-top: calc(2*var(--spacing-body));
}

.container-articles {
    margin-top: calc(2*var(--spacing-body));
}